.download {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    width: 100%;
    border-top: 10px solid rgb(35, 35, 35);
}

.download-img {
    position: relative;
    width: 100%;
}

.download-img img {
    width: 100%;
}


.download-boxshot {
    display: flex;
    position: absolute;
    border: 2px solid rgb(65, 65, 65);
    border-radius: 0.75rem;
    background: #000;
    padding: 0.5rem 0.75rem;
    width: 60%;
    height: 6.25rem;
    justify-content: space-between;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
}

.download-boxshot img {
    width: 25%;
}

.download-boxshot span {
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
}


.download-boxshot-text {
    display: flex;
    align-items: center;
    margin-right: -20px;
}

.download-text {
    width: 100%;
    display: flex;
    align-items: center;
}

.download-text h2 {
    font-size: 3rem;
}

.download-text p {
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        height: 6.25rem;
        justify-content: space-between;
        top: 40%;
        left: 50%;
        transform: translate(-50%, 90%);
    }
}


@media screen and (max-width: 1000px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        height: 6rem;
        justify-content: space-between;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 90%);
    }
}


@media screen and (max-width: 880px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        height: 5rem;
        justify-content: space-between;
        top: 35%;
        left: 50%;
        transform: translate(-50%, 90%);
    }
}





@media screen and (max-width: 768px) {
    .download {
        background: #000;
        color: #fff;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        width: 100%;
        border-top: 10px solid rgb(35, 35, 35);
    }

    .download-img {
        position: relative;
        width: 100%;
        margin-bottom: 2rem;
    }

    .download-img img {
        width: 100%;
    }

    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        max-width: 30rem;
        height: 6.25rem;
        justify-content: space-between;
        top: 55%;
    }

    .download-boxshot img {
        width: 25%;
    }

    .download-boxshot span {
        font-size: 0.75rem;
        font-weight: 400;
        color: #0071eb;
    }

    .download-boxshot-text {
        display: flex;
        align-items: center;
        margin-right: -20px;
    }

    .download-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .download-text h2 {
        font-size: 2rem;
    }

    .download-text p {
        font-size: 1.2rem;
        margin-top: 1rem;
    }

}


@media screen and (max-width: 680px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        max-width: 30rem;
        height: 6.25rem;
        justify-content: space-between;
        top: 50%;
    }
}


@media screen and (max-width: 599px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 60%;
        max-width: 30rem;
        height: 6.25rem;
        justify-content: space-between;
        top: 45%;
    }
}


@media screen and (max-width: 400px) {
    .download-boxshot {
        display: flex;
        position: absolute;
        border: 2px solid rgb(65, 65, 65);
        border-radius: 0.75rem;
        background: #000;
        padding: 0.5rem 0.75rem;
        width: 70%;
        max-width: 30rem;
        height: 4.5rem;
        justify-content: space-between;
        top: 35%;
    }
}